
@import 'partials/_page.css';

@import 'components/_btn.css';
@import 'components/_single-model-preview.css';
@import 'components/_filter-group.css';

.models-list{
    display:flex;
    flex-direction:column;
    row-gap:var(--double);

    @media (min-width: 48rem) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: var(--grid-gutter);
    }
}

@media (min-width: 48rem) {
    .section-header{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: var(--grid-gutter);

        .default-text{
            margin-top:0;
            align-self: center;
        }
    }
}
