@import 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css';

@import 'partials/_page.css';

@import 'blocks/_builds.css';
@import 'blocks/_geometry.css';
@import 'blocks/_model-specs.css';
@import 'blocks/_order.css';

@import 'components/_btn.css';
@import 'components/_specs-values.css';
@import 'components/_single-build-preview.css';
@import 'components/_img-slider.css';
@import 'components/_single-color.css';
@import 'components/_colors-group.css';
@import 'components/_single-logo.css';
@import 'components/_standard-form.css';

.article-body{
    .main-text{
        &:not(&:first-child){
            margin-top:var(--standardMargin);
        }
    }

    @media (max-width: 47.9375rem) {
        margin-top:var(--standardMargin);
        padding-top:var(--standardMargin);
        border-top:.0625rem solid var(--black);
    }

    @media (min-width: 62rem) {
        grid-column:2 / span all;
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap:var(--grid-gutter); 

        .intro-img{
            grid-column:1/3;
        }
    }

    
}

.intro-img{
    img{
        min-width:100%;
    }
}

.logos-container{
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap:var(--grid-gutter);
    row-gap:var(--standardMargin);

    @media (min-width: 48rem) and (max-width: 62rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));   

    }
}

.main-info{

    img{
        min-width:100%;
    }

    @media (min-width: 48rem) {
        .inner-info-text-container{
            display:grid;
            grid-template-columns: 1fr 2fr;
            column-gap:var(--grid-gutter);
        }

        .main-text-container{
            margin-top:0;
            align-self: center;
        }

        .block-main-features{
            display:grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap:var(--grid-gutter);
        }
    }
}

.article-content{
    @media (min-width: 48rem) {
        display:grid;
        grid-template-columns: 1fr 2fr;
        
        column-gap:var(--grid-gutter);
    }
}