@import 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css';

@import 'partials/_page.css';

@import 'components/_btn.css';
@import 'components/_specs-values.css';

.block-title {
    flex-direction:column;
}

.order{
    padding-top:var(--standardMargin);
    
    @media (max-width: 47.9375rem) {
        
        border-top:.0625rem solid var(--black);
    }
}

.main-info{

    @media (min-width: 48rem) {
        .inner-info-text-container{
            display:grid;
            grid-template-columns: 1fr 2fr;
            column-gap:var(--grid-gutter);
        }

        .main-text-container{
            margin-top:0;
        }
    }    
}


.article-content{
    @media (min-width: 48rem) {
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        column-gap:var(--grid-gutter);

        .article-body{
            grid-row: 1 / span 3;
        }

        .build-specs{
            grid-row: 1;
            align-self: baseline;
        }

        .order{
            grid-row: 2;
            align-self: start;
        }
    }
}