@import 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css';

@import 'partials/_page.css';

@import 'components/_btn.css';
@import 'components/_single-product-preview.css';

@import 'components/_woomessage.css';

.main-product {
    @media (min-width: 48rem) {
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap:var(--grid-gutter);

        .product-aside{
            grid-column:2/3;
            grid-row:2/3;
            margin-top:var(--standardMargin);
        }
    }

}

.block-header{

    @media (max-width: 47.9375rem) {
        margin-bottom:var(--standardMargin);
    }

    @media (min-width: 48rem) {
        grid-column:2/3;
        grid-row:1/2;
        align-self:baseline;

        .price{
            margin-top:var(--standardMargin);
        }
    }
}

.entry-images{

    @media (max-width: 47.9375rem) {
        margin-bottom:var(--standardMargin);
        padding-right:.3125rem;
    }

    @media (min-width: 48rem) {
        grid-column:1/2;
        grid-row:1/4;
        overflow:hidden;
        padding-right:1.25rem;
    }
}

.tns-ovh{
    overflow:visible;
}

.custom-product-image{

    .inner-image-wrapper{
        overflow:hidden;
        position:relative;
        height:auto;
        padding-bottom:56.2%;
        width:100%;
    }

    img{
        object-fit: contain !important;
    }
}

.single_variation_wrap{
    margin-top:.3125rem;
}

.variations{
    th{
        &:has(label){
            min-width:6.25rem;
            text-align:left;
        }
    }

    label{
        font-weight:700;
    }

    tr {
        display: block;

        & + tr{
            margin-top:.3125rem;
        }
    }
}

.quantity{
    display:flex;

    label{
        min-width:6.25rem;
        font-weight:700;
    }
}

.related.products{
    .products-list{
        display:grid;
        column-gap:var(--grid-gutter);
        row-gap:var(--standardMargin);

        @media (max-width: 47.9375rem) {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            & > *:nth-child(n+3) {
                display: none;
                visibility: hidden;
            }
        }

        @media (min-width: 48rem) {
            grid-template-columns: repeat(3, minmax(0, 1fr));

            & > *:nth-child(n+4) {
                display: none;
                visibility: hidden;
            }
        }
    }
}