@import 'partials/_page.css';

@import 'blocks/_main_item.css';

@import 'components/_btn.css';
@import 'components/_single-product-preview.css';

.sections-container{
    & + .product-list{
        margin-top:var(--standardMargin);
    }
}

.product-list{
    display:grid;
    column-gap:var(--grid-gutter);
    row-gap:var(--standardMargin);

    @media (max-width: 47.9375rem) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 48rem) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}