.default-btn{
    padding:0;
    border:0;
    background:transparent;
    cursor:pointer;
}

.standard-btn{
    display:inherit;
    padding:.3125rem var(--standardMargin);
    width:100%;
    text-decoration:none;
    text-align:center;

    &:not(&.secondary){
       border:.0625rem solid var(--black); 

        &:hover{
            background-color:var(--black);
            color:var(--secondary);
        }
    }

    &.secondary{
       color:var(--yellow);
       border:.0625rem solid var(--yellow); 

       &:hover{
            background-color:var(--yellow);
            color:var(--black);
        }
    }


    
}

.filter-btn{
    width:100%;
    text-align:left;
    padding:.125rem var(--standardMargin);

    &.active,&:hover{
        background-color:var(--black);
        color:var(--yellow);
    }
}


