.filter-group{
        
    .filter-title{
        z-index:99;
    }   

    &.submenu-not-open{

        .custom-options{
            max-height:0;
        }
    }

    &.submenu-open{

        .custom-options{
            max-height:100vh;
        }
    }
}

.select-toggler{
    padding:.3125rem var(--standardMargin);
    height:2.5rem;
    text-align:left;

    @media (max-width: 47.9375rem) {
        width:100%;
    }

    @media (min-width: 48rem) {
        width:15.625rem;
    }
}

.custom-options{
    padding:0;
    position:absolute;
    overflow:hidden;
    height:auto;
    top:0;
    padding-top:2.5rem;
    left:-0.0625rem;
    width:calc(100% + .125rem);
    border-radius:1.25rem;
    border:.0625rem solid var(--black);
    background-color:var(--yellow);
    z-index:98;

    @media (max-width: 47.9375rem) {
        width:calc(100% + .125rem);
    }

    @media (min-width: 48rem) {
         width:calc(15.625rem + .125rem);
    }
}