.img-slider{

    @media (min-width: 62rem) {
        grid-column:2/3;
        grid-row:2/3;
        margin-right: calc(var(--grid-gutter) * -1);
        padding-right: var(--grid-gutter);
        align-self:baseline;
        overflow:hidden;

        .tns-ovh{
            overflow:visible;
        }
    }

    @media (min-width: 108rem) {
        margin-right: calc(var(--leftSpace) * -1);
        padding-right: var(--leftSpace);
    }
}

.final-img-slider{
    img{
        min-width:100%;
    }

    @media (min-width: 48rem) {
        grid-column:1/4;
    }
}