.single-post-preview{
    picture{
        height:auto;
        padding-bottom:137%;

        /*@media (min-width: 48rem) {
            padding-bottom:56.25%;
        }*/
    }

    &:not(&.main-item){
        h3{
           --maxH:calc(var(--min-fontpx) * 2);

            min-height:var(--maxH);
            max-height:var(--maxH);
            overflow:hidden;
            display:inherit;

            @media (min-width: 62rem) {
                --fs:clamp(var(--min-fontpx), calc(var(--min-fontpx) + (var(--max-font) - var(--min-font)) * (100vw - 62rem)/(var(--max-width) - var(--min-width))), var(--max-fontpx));
                --maxH:calc((var(--fs) * 2 * 1.071) - 2px);
            }
        }
    }

    &.main-item{
        picture{
            /*padding-bottom:68%; */
            padding-bottom:35%;
        }

        &:not(&:first-child){
            padding-top:var(--standardMargin);
            border-top:1px solid var(--black);
        }

        &:last-child{
            margin-bottom:0;
            padding-bottom:0;
            border-bottom:0;
        }

        @media (min-width: 48rem) {
            grid-column:1/5;
        }

        @media (min-width: 62rem) {
            .text-container{
                display:grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                column-gap:var(--grid-gutter);
            }

            .info-container{
                display:grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                column-gap:var(--grid-gutter);
            }

            .default-text{
                margin-top:0;
            }
        }
    }

    &.simple-item{
        @media (min-width: 48rem) {
            article{
                min-height: 100%;
                display:flex;
                flex-direction:column;
            }

            .text-container{
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            h3{
                margin-bottom: auto;
            }
        }

        @media (min-width: 62rem) {
            .text-container{
                display:grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                column-gap:var(--grid-gutter);
            }

            h3{
                grid-column:1/3;
            }

            .ctas-container{
                justify-self: flex-end;
            }

            button{
               min-width:6.5625rem; 
            }
        }
    }
}