.single-color{
    row-gap:.4375rem;

    .color-square{
        width:100%;
        height:auto;
        padding-bottom:19%;
    }

    .color-info{
        flex-grow: 1;
        line-height:1.1;
    }
}