.standard-form{
    padding-bottom:var(--standardMargin);
    margin-bottom:var(--standardMargin);
    border-bottom:.0625rem solid var(--black);

    .field-group{
        border-top:.0625rem solid var(--black);

        .wpcf7-not-valid-tip{
            font-size:.75rem;
        }

        &:not(&.privacy-group){
            padding:.375rem 0;

            label{
                display:flex;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content:space-between;
                font-family: 'Feature Deck Condensed Web';
                font-weight:700;

                --min-font: 20;
                --min-fontpx: 1.25rem;

                @media (max-width: 47.9375rem) {
                    font-size:var(--min-fontpx);
                }

                @media (min-width: 48rem) {
                    --max-font: 40;
                    --max-fontpx: 2.5rem;

                    font-size: clamp(var(--min-fontpx), calc(var(--min-fontpx) + (var(--max-font) - var(--min-font)) * (100vw - 62rem)/(var(--max-width) - var(--min-width))), var(--max-fontpx));
                
                }

                .wpcf7-form-control-wrap{
                    flex-shrink: 1;
                    overflow: hidden;
                    margin-left:var(--grid-gutter);

                    @media (max-width: 47.9375rem) {
                        max-width:50%;
                    }

                    @media (min-width: 48rem) {
                        width:calc(66.6% - (var(--grid-gutter) / 2));
                        min-width:calc(66.6% - (var(--grid-gutter) / 2));
                    }
                }
            }

            input,textarea{
                max-width: 100%;
                width: 100%;
                resize:none;
                padding:.3125rem var(--standardMargin);
                font-family: 'Focal Web';
                font-weight:500;
                font-size:18px;
                border:.0625rem solid var(--black);
                border-radius:1.25rem;
                color:rgba(0, 0, 0, 0.5)
            }

            textarea{
                max-height:5.6875rem;
            }
        }

        &.privacy-group{
            padding:var(--standardMargin) 0;
            border-bottom:.0625rem solid var(--black);

            @media (min-width: 48rem) {
                width:calc(66.6% - (var(--grid-gutter) / 2));
                min-width:calc(66.6% - (var(--grid-gutter) / 2));
                margin-left:auto;
            }

            --btnw:1.5625rem;

            .wpcf7-list-item{
                margin:0;
                position:relative;

                &:has(input:checked){
                    &:before{
                        background-color:var(--black);
                    }
                }

                &:before{
                    content:'';
                    position:absolute;
                    width:var(--btnw);
                    height:var(--btnw);
                    border-radius:5px;
                    border:.0625rem solid var(--black);
                    background-color:transparent;
                    pointer-events:none;
                    transition: all .5s ease-out;
                }
            }

            input{
                position:absolute;
                width:var(--btnw);
                height:var(--btnw);
                opacity:0;
            }

            .wpcf7-list-item-label{
                padding-left:calc(var(--btnw) + var(--standardMargin));
                display: inline-block;
                font-family: 'Feature Text Web';
                

                @media (max-width: 47.9375rem) {
                    font-size:.75rem;
                }

                @media (min-width: 48rem) {
                    font-size:1.125rem;
                }
            }
        }
    }

    .wpcf7-form-control.wpcf7-submit{
        margin-top:var(--standardMargin);
        display:inherit;
        padding:.3125rem var(--standardMargin);
        width:100%;
        text-decoration:none;
        text-align:center;
        font-size: 1.125rem;
        line-height: 1.167;
        font-family: 'Focal Web';
        border-radius: 1.25rem;
        border: .0625rem solid var(--black);
        transition: all .5s ease-out;
        cursor:pointer;
        background-color:transparent;

        &:hover{
            background-color:var(--black);
            color:var(--secondary);
        }

        @media (max-width: 47.9375rem) {
            width:100%;
        }

        @media (min-width: 48rem) {
            width:calc(66.6% - (var(--grid-gutter) / 2));
            min-width:calc(66.6% - (var(--grid-gutter) / 2));
            margin-left:auto;
        }
    }
}