{% extends "base.twig" %}

{% block content %}
	
	<article class="standard-template" id="post-{{post.ID}}">

	<div class="content-wrapper">
		<div class="main-text-container">
			<h1 class="fdc fs-28 m-b-standard ">
				404
			</h1>
			<div class="default-text ft fs-18 lh-30 main-text">
				<p>Sorry, we couldn't find what you're looking for.</p>
			</div>
		</div>
	</div>
	
</article>
{% endblock %}