{% extends "base.twig" %}

{% block content %}
<article class="standard-template" id="post-{{post.ID}}">

	<div class="content-wrapper">
		<div class="section-header  m-b-standard b-b-black p-b-standard">
			<h1 class="fdc fs-28">
				{{post.title}}
			</h1>
			
		</div>

		<div class="article-body sections-container dis-flex flex-col">
				

				{% if post.meta('blocks') %}
					
					{% for section in post.meta('blocks') %}
						{% set class = section.acf_fc_layout|replace({'+': "_"}) %}

						<section class="complex-section {{class}}" >
							{% include "blocks/" ~ section.acf_fc_layout ~ ".twig" %}
						</section>
					{% endfor %}
					
				{% endif %}	
		</div>
	</div>	
</article>
{% endblock %}