{% extends "base.twig" %}

{% block content %}
<div class="blog-archive-template  p-b-double" id="post-{{post.ID}}">

	<div class="content-wrapper">
		<div class="title-container m-b-standard">
			<h1 class="fdc fs-28 fs-128-desktop fw-800">{{post.title}}</h1>
		
		
		</div>

		<div class="items-container " >
			{% set method = 'load_articles' %}
			<div class="articles-list with-loading loading"    id="items-wrapper" hx-get="/api/{{method}}" hx-trigger="load">
			</div>
		</div>
	</div>
	
</div>
{% endblock %}