{% extends "base.twig" %}

{% block content %}
<div class="models-template"   x-data="models()">
	<div class="content-wrapper">
		<div class="section-header">
			<h1 class="fdc fs-28">
				{{post.title}}
			</h1>
			<div class="fdc fs-18 default-text">
				{{post.content}}
			</div>
		</div>
		<div class="filters-header ">
			{% if types %}
				{% set method = 'load_models' %}
				{% set all = options.all %}
				{% include "partial/filters.twig" with {'items': types, 'type':'model', 'taxonomy':'types','all': all, 'method': method } %}		
			
			{% endif %}
		</div>

		<div class="items-container" >
			<div class="models-list with-loading loading"    id="items-wrapper" hx-get="/api/{{method}}" hx-trigger="load">
			</div>
		</div>	
	</div>
</div>

    	
{% endblock %}
