{% extends "base.twig" %}

{% block content %}
<div class="models-template p-b-double"   x-data="models()">
	<div class="content-wrapper">
		<div class="section-header p-b-standard b-b-black m-b-standard">
			<h1 class="fdc fs-28">
				{{post.title}}
			</h1>
			<div class="fdc fs-18 fs-34-desktop default-text m-t-standard">
				{{post.content}}
			</div>
		</div>
		<div class="filters-header ">
			{% if types %}
				{% set method = 'load_models' %}
				{% set all = options.all %}
				{% set button = options.filter_by_type %}
				{% include "partial/filters.twig" with {'items': types, 'type':'model', 'taxonomy':'types','all': all, 'method': method, 'button': button  } %}		
			
			{% endif %}
		</div>

		<div class="items-container m-t-standard" >
			<div class="models-list with-loading loading"    id="items-wrapper" hx-get="/api/{{method}}" hx-trigger="load">
			</div>
		</div>	
	</div>
</div>

    	
{% endblock %}
