{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="fdc fs-28 m-b-standard   m-b-standard b-b-black p-b-standard">
					{{post.title}}
				</h1>
				<div class="article-body  ft fs-18 lh-30">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}