{% extends 'base.twig' %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}




    <div class="products-container"    >
        

        <div class="content-wrapper ">
            <div class="section-header">
                <h1 class="fdc fs-28">
                    {{title}}
                </h1>
            </div>
            {% if shop_acf.blocks %}
                <div class="sections-container">
                    {% for section in shop_acf.blocks %}
                        {% set class = section.acf_fc_layout|replace({'+': "_"}) %}

                        <section class="complex-section {{class}}" 
                        >
                            {% include "blocks/" ~ section.acf_fc_layout ~ ".twig" %}
                        </section>
                    {% endfor %}
                </div><!-- sections-container -->
            {% endif %}
            
            
            <div class="loop product-list">
                {% for post in products %}
                    {% include 'partial/product.twig' with {'item':post, 'featured':true } %}
                {% endfor %}
            </div>
            
        </div>
    </div>    

    

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}