{% extends 'base.twig' %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}




    <div class="products-container  p-b-double"    >
        

        <div class="content-wrapper ">
            <div class="section-header m-b-standard">
                <h1 class="fdc fs-28">
                    {{title}}
                </h1>
            </div>
            {% if shop_acf.blocks %}
                <div class="sections-container">
                    {% for section in shop_acf.blocks %}
                        {% set class = section.acf_fc_layout|replace({'+': "_"}) %}

                        <section class="complex-section {{class}}" 
                        >
                            {% include "blocks/" ~ section.acf_fc_layout ~ ".twig" %}
                        </section>
                    {% endfor %}
                </div><!-- sections-container -->
            {% endif %}
            
            <div class="loop product-list" id="shop-products" >
                {% include 'partial/product-loop.twig' %}
            </div>

            {% if posts.pagination.pages|length > 1 %}
                {% set total_pages = posts.pagination.pages|length %}
                <div id="load-trigger" data-max-pages="{{total_pages}}">
                    <p style="text-align: center;">Loading more products…</p>
                </div>
            {% endif %}
            
        </div>
    </div>    


    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}