#footer{
    padding:var(--double) 0;

    .tagline{
        white-space: nowrap;
    }

    .navbar-brand-footer{
        max-width:26.75rem;

        img{
            min-width:100%;
        }
    }

    .socials{
        a{
            --btnW:.9375rem;

            width:var(--btnW);
            height:var(--btnW);

            @media (min-width: 62rem) {
                --btnW:1.3125rem;
            }

            svg{
                width:100%;
                height:auto;
            }

            & + a{
                margin-left:var(--standardMargin);
            }
        }
    }
}

.menus-footer {
    margin-bottom:calc(var(--standardMargin) * 3);
}

.nav-models-footer{
    border-bottom:1px solid var(--white);

    @media (min-width: 48rem) {
        .models-nav{
            display:grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            column-gap:var(--grid-gutter);      
        }

        ul{
            grid-column:3/7;
            column-count: 4;
            column-gap:var(--grid-gutter);
        }
    }
}

.lower-footer{
    display:grid;
    column-gap:var(--grid-gutter);
    row-gap:var(--standardMargin);

    @media (max-width: 47.9375rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media (min-width: 48rem) {
        grid-template-columns: repeat(6, minmax(0, 1fr));

    }
}

.footer-texts{
    column-gap:var(--grid-gutter);

    *{
        flex:1;
    }

   @media (max-width: 47.9375rem) {
       flex-direction: column;
   }

    @media (min-width: 48rem) {
        grid-column:1/5;
        grid-row:1/2;
    }
}


.nav-footer{

    &.lower-nav-footer{
        display:grid;
        column-gap:var(--grid-gutter);
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @media (min-width: 48rem) {
           grid-column:5/7; 
        }
    }  

    ul{
        margin:0;
    }

    .secondary-nav-social{

        ul{
            margin-bottom:var(--standardMargin);
        }
    }

    a{
        color:var(--white);
        text-decoration-color:transparent;

        &:hover{
            text-decoration-color:var(--white);
        }
    }
}