header.header{
    @media (min-width: 62rem) {
        position:sticky;
        top:0;
        z-index:1000;
        width:100%;
        background-color:var(--yellow);

        &.hide-header{
            /*--logoW: 15.1875rem;

            .pre-nav-header{
                position:relative;
            }

            .navbar-brand{
                position:absolute;
                left:0;
                width:var(--logoW);
            }

            .nav-main{
                ul{
                    margin-top:0;
                    margin-bottom:var(--fixedStandardMargin);
                    justify-content: space-around;
                    padding-left:calc(var(--logoW) + var(--grid-gutter));
                }

                a{
                    line-height:1;
                }
            }*/
        }
    }

    .tagline{
        margin-right:auto;
    }
}

.upper-header{
    padding-block:var(--standardMargin);
    transition: padding-block 0.1s linear;
}

.navbar-brand{
    transition: width 0.1s linear;
    transform-origin: top left;

    @media (max-width: 61.9375rem) {
        height:1.375rem;
        width:auto;
        margin-right:auto;

        img{
            height:100%;
            width:auto;
        }
    }

    
}

.account-btn {
    & + .cart-btn{
        margin-left:var(--standardMargin);
    }
}

.navbar-toggler{
    --btnW:1.5rem;

    margin-left:var(--standardMargin);
    width:var(--btnW);
    height:1.25rem;

    /*&:hover{
        .bar{
            &:nth-child(1),&:nth-child(3){
                top:calc(50% - 0.5px);
            }
        }
    }*/

    .bar{
        position:absolute;
        left:0;
        width:var(--btnW);
        height:.0625rem;
        background-color:var(--black);

        &:nth-child(1){
            top:0;
        }

        &:nth-child(2){
            top:calc(50% - 0.5px);
        }

        &:nth-child(3){
            top:calc(100% - 1px);
        }
    }
}

.nav-main{

    ul{
        margin:0;
        flex-grow:1;
        

        @media (min-width: 62rem) {
            /*margin-top:var(--standardMargin);
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            gap:var(--grid-gutter);*/
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: var(--grid-gutter);
        }
    }

    @media (max-width: 61.9375rem) {
        position:absolute;
        z-index:999;
        left:0;
        right:0;
        overflow:hidden;    
        background-color:var(--yellow);

        .inner-menu{
             height:100%;
            min-height:calc(100vh - var(--headerH));
            min-height:calc((100 * var(--vh)) - var(--headerH));
            padding:calc(var(--standardMargin) * 2) var(--grid-gutter);
        }

        ul{
            display:flex;
            justify-content:space-between;
            flex-direction:column;
        }

        li{
            text-align:center;
            flex-grow:1;
            display:flex;
            flex-direction:column;
            justify-content:center;
            border-bottom:.0625rem solid var(--black);
        }
    }

    .inner-menu{
       

        a{
            font-weight:700;
            font-size:2.1875rem;
            text-decoration-color:transparent;

            @media (min-width: 62rem) {
                font-size:1.875rem;
            }

            &:hover{
                text-decoration-color:var(--black);
            }
        }

        @media (min-width: 62rem) {
            flex-direction:row;
            align-items:center;

            .lower-menu-desktop{
                margin-left:calc(var(--double) * 2);
            }
        }
    }

    .lower-menu{
    }

    .socials{
        a{
            --btnW:.9375rem;

            width:var(--btnW);
            height:var(--btnW);

            svg{
                width:100%;
                height:auto;
            }

            path{
                fill:var(--black);
            }

            & + a{
                margin-left:var(--standardMargin);
            }
        }
    }

    @media (max-width: 61.9375rem) {
       
    }

    @media (min-width: 62rem) {
       border-bottom:.0625rem solid var(--black);
    }
}

@media (max-width: 61.9375rem) {
    .menu-not-open{
        .nav-main{
            height:0;
        }
    }

    .menu-open{
        .show-header{
            .nav-main{
                height:calc(100vh - var(--headerH));
                height:calc((100 * var(--vh)) - var(--headerH));
            }

            .navbar-toggler{
                .bar{
                    &:nth-child(1){
                        top:calc(50% - .5px);
                        transform:rotate(45deg);
                    }

                    &:nth-child(2){
                        left:50%;
                        width:0;
                    }

                    &:nth-child(3){
                        top:calc(50% - .5px);
                        transform:rotate(-45deg);
                    }
                }
            }
        }

        .hide-header{
            .nav-main{
                height:0;
            }
        }
    }
}
