

@import '_variables.css';
@import '_general.css';
@import '_typography.css';
@import '_header.css';
@import '_footer.css';

.content-wrapper{
    max-width: var(--grid-max-width);
    /*max-width: 100%;*/
    margin-inline: auto;
    padding:0 var(--grid-gutter);
}

main#content{
    overflow:hidden;
}

.with-loading{
    transition: all .3s ease;

    &.loading{
        opacity:0;
    }

    &.loaded{
        opacity:1;
    }

    &:has(.inner-container){
        opacity:1;
    }
}


.transition{
    transition: all 500ms ease-out;
}

.d-none{
    display:none;
    visibility:hidden;
}

.display{
    display:inherit;
}

.dis-flex{
    display:flex;
}

.flex-col{
    flex-direction:column;
}

.jus-space-between{
    justify-content:space-between;
}

.jus-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.pos-rel{
    position:relative;
}

.hide-mobile{
    @media (max-width: 61.9375rem) {
        display:none;
        visibility:hidden;
    }
}

.hide-desktop{
   @media (min-width: 62rem) {
        display:none;
        visibility:hidden;
    } 
}

/* MARGIN */

.m-b-standard{
    /*margin-bottom:var(--standardMargin);*/

    margin-bottom:var(--fixedStandardMargin);
}

.m-b-double{
    margin-bottom:var(--double);
}

.m-t-standard{
    margin-top:var(--standardMargin);
}

.m-t-double{
    margin-top:var(--double);
}

.m-t-auto{
    margin-top:auto;
}

.m-r-standard{
    margin-right:var(--standardMargin);
}

.m-l-standard{
    margin-left:var(--standardMargin);
}

/* PADDING */

.p-b-standard{
    //padding-bottom:var(--standardMargin);

    padding-bottom:var(--fixedStandardMargin);
}

.p-t-standard{
    //padding-bottom:var(--standardMargin);

    padding-top:var(--fixedStandardMargin);
}

.p-l-r-standard{
    padding-left:var(--standardMargin);
    padding-right:var(--standardMargin);
}

.p-b-double{
    padding-bottom:var(--double);
}


.p-standard{
   padding:var(--standardMargin); 
}

/* IMAGES */

.background-image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    picture,img{
        position:absolute;
        width: 100%;
        height: 100%;
        max-width: initial;
        object-fit: cover;
    }
}

.img-cover{
    img{
        position:absolute;
        width: 100%;
        height: 100%;
        max-width: initial;
        object-fit: cover;
    }
}

.image-16-9{
    picture{
        position:relative;
        height:auto;
        padding-bottom:56.2%;
    }
}

.image-4-3{
    picture{
        position:relative;
        height:auto;
        padding-bottom:133%;
    }
}

.img-square{
    picture{
        position:relative;
        height:auto;
        padding-bottom:100%;
    }
}

.basic-brdr-rds{
    border-radius:.9375rem;
    overflow:hidden;
}

.brdr-rds-20{
    border-radius:1.25rem;
    overflow:hidden;
}

/* COLORS */

.bg-black{
    background-color:var(--black);
}

.b-b-black{
    border-bottom:.0625rem solid var(--black);
}

.b-t-black{
    border-top:.0625rem solid var(--black);
}

.b-b-yellow{
    border-bottom:.0625rem solid var(--yellow);
}

.white{
    color:var(--white);
}

.yellow{
    color:var(--yellow);
}




