

html{
    font-size:16px; 
    line-height: normal;
    overflow-x:hidden;
    color:var(--black);
    background-color:var(--yellow);
}

body {

}

@font-face {
	font-family: 'Feature Text Web';
	src: url('../../fonts/FeatureText-Regular-Web.woff2') format('woff2'),
		 url('../../fonts/FeatureText-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Feature Text Web';
	src: url('../../fonts/FeatureText-Bold-Web.woff2') format('woff2'),
		 url('../../fonts/FeatureText-Bold-Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}


@font-face {
	font-family: 'Feature Deck Condensed Web';
	src: url('../../fonts/FeatureDeckCondensed-Regular-Web.woff2') format('woff2'),
		 url('../../fonts/FeatureDeckCondensed-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Feature Deck Condensed Web';
	src: url('../../fonts/FeatureDeckCondensed-Medium-Web.woff2') format('woff2'),
		 url('../../fonts/FeatureDeckCondensed-Medium-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Feature Deck Condensed Web';
	src: url('../../fonts/FeatureDeckCondensed-Bold-Web.woff2') format('woff2'),
		 url('../../fonts/FeatureDeckCondensed-Bold-Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Feature Deck Condensed Web';
	src: url('../../fonts/FeatureDeckCondensed-Extrabold-Web.woff2') format('woff2'),
		 url('../../fonts/FeatureDeckCondensed-Extrabold-Web.woff') format('woff');
	font-weight: 800;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Focal Web';
	src: url('../../fonts/Focal-Regular-Web.woff2') format('woff2'),
		 url('../../fonts/Focal-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Focal Web';
	src: url('../../fonts/Focal-Bold-Web.woff2') format('woff2'),
		 url('../../fonts/Focal-Bold-Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

.fdc{
    font-family: 'Feature Deck Condensed Web';
}

.ft{
   font-family: 'Feature Text Web';
}

.foc{
    font-family: 'Focal Web';
}

.fs-80{
    font-size:5rem;
	line-height:0.938;
}

.fs-34{
    font-size:2.125rem;
	line-height:1;
}

.fs-32{
    font-size:2rem;
	line-height:1;
}

.fs-22{
    font-size:1.375rem;
	line-height:1.182;
}

.fs-20{
    font-size:1.25rem;
}

.fs-18{
    font-size:1.125rem;
	line-height:1.167;
}

.fs-12{
    font-size:.75rem;
}

.fs-10{
    font-size:.625rem;
	line-height:1.6;
}

.f-w-900{
	font-weight:900;
}

.f-w-800{
	font-weight:800;
}

p {
    &:empty { 
        display: none; 
        visibility:visible;
    } 

    strong,b{
        font-weight: 700;
    }
}

.default-text{
    * + *{
        margin-top:var(--standardMargin);
    }
}

.t-d-none{
	text-decoration:none;
}