

html{
    font-size:16px; 
    line-height: normal;
    overflow-x:hidden;
    color:var(--black);
    background-color:var(--yellow);
}

body {

}

.fdc{
    //font-family:'feature-deck-condensed';
}

.ft{
    //font-family:'feature-text';
}

.foc{
    //font-family:'focal';
}

.fs-80{
    font-size:5rem;
}

.fs-32{
    font-size:2rem;
}

.fs-22{
    font-size:1.375rem;
}

.fs-20{
    font-size:1.25rem;
}

.fs-18{
    font-size:1.125rem;
}

.fs-12{
    font-size:.75rem;
}

.fs-10{
    font-size:.625rem;
}

p {
    &:empty { 
        display: none; 
        visibility:visible;
    } 

    strong,b{
        font-weight: 700;
    }
}

.default-text{
    * + *{
        margin-top:var(--standardMargin);
    }
}
