:root {
    --white: #ffffff;
    --black: #000;
    --pink:#F0B8C3;
    --yellow:#F8F5DA;

    --vw:0;
    --vh:0;


    --max-width: 1728;

    --grid-gutter:.9375rem;
    --grid-max-width:90rem;

    --headerH:6.9375rem;

    --standardMargin:.9375rem;
    --double:calc(var(--standardMargin) * 2);

    --primary:var(--black);
    --secondary:var(--yellow);

    --leftSpace:calc((100vw - var(--grid-max-width) - (var(--grid-gutter) * 2)) / 2);
    --leftSpace:calc(((100 * var(--vw)) - var(--grid-max-width) - (var(--grid-gutter) * 2)) / 2);

    --realContainerW:calc((100vw) - (var(--grid-gutter) * 2));
    --realContainerW:calc((100 * var(--vw)) - (var(--grid-gutter) * 2));

    --min-width: 992;

    --fixedStandardMargin:.9375rem;
}

@media (min-width: 48rem) {
    :root{
       --grid-gutter:.9375rem;
    }
}

@media (min-width: 62rem) {
    :root{
       --grid-gutter:1.25rem;
       --headerTop:5.625rem;
       
       --min-fontpx:.9375rem;
       --min-font:15;
       --max-font: 30;
		--max-fontpx: 30px;

		--standardMargin: clamp(var(--min-fontpx), calc(var(--min-fontpx) + (var(--max-font) - var(--min-font)) * (100vw - 62rem)/(var(--max-width) - var(--min-width))), var(--max-fontpx));
        --double:var(--standardMargin);
    }
}

@media (min-width: 108rem) {
    :root{
        --doubleGutter:calc(var(--grid-gutter) * 2);
        --allSpace:calc((100 * var(--vw)) - var(--grid-max-width));
        --leftSpace:calc(var(--allSpace) - var(--doubleGutter));
    }
}