.builds{

    &:not(&:last-child){
        padding-bottom:var(--standardMargin);
        border-bottom:.0625rem solid var(--black);
    }

    .outer-list{
        padding-right:.3125rem;
    }

    .tns-ovh{
        overflow:visible;
    }

    @media (min-width: 62rem) {
        .builds-list{
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            column-gap: var(--grid-gutter);
        }
    }
}