.main_item{
    picture{
        height:auto;

        @media (max-width: 47.9375rem) {
            padding-bottom:137%;
        }

        @media (min-width: 48rem) {
            /*padding-bottom:61.3%;*/
            padding-bottom:35%;
        }
    }

    @media (min-width: 48rem) {
        h2{
            margin-bottom:0;
        }

        .text-container{
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: var(--grid-gutter);
        }

        .ctas-container{
            display:flex;
        }
    }
}