.posts{
    .outer-list{
        padding-right:.3125rem;
    }

    .tns-ovh{
        overflow:visible;
    }

    @media (min-width: 48rem) {
        .posts-list{
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: var(--grid-gutter);
            row-gap: var(--standardMargin);
        }
    }
}