

<a class="single-product-preview  t-d-none" href="{{item.link}}"   >
    <article  >
   
        <div class="image-container  brdr-rds-20">
            <picture   class="img-cover pos-rel display">
            {% set image = get_image(item.thumbnail) %}
                {{ fn(
                    'wp_get_attachment_image',
                    image.id,
                    'medium_large',
                    false,
                    {
                      'class': 'lazyload',
                      'sizes': '(max-width: 767px) 50vw, 350px',
                      'alt': image.alt,
                      'loading': 'lazy'
                    }
                  ) }}
            </picture>
                
        </div>
        <div class="text-container m-t-standard">
            <h3 class="fdc fs-25"><strong>{{item.title}}</strong></h3>
            {% set price = fn('wc_get_product', item.id) %}
            <div class="foc fs-18">{{price.get_price_html}}</div>
        </div>
    </article>
</a>    

   