<div class="single-color dis-flex flex-col ">
    <div class="color-square" style="background-color:{{item.color}};">
    
    </div>

    <div class="color-info">
        <span class="foc fs-12 fs-20-desktop">
            {{item.title}}
        </span>
    </div>
</div>