<div class="single-color dis-flex jus-space-between">
    <div class="color-square" style="background-color:{{item.color}};">
    
    </div>

    <div class="color-info">
        <span class="foc fs-16">
        <strong>{{item.title}}</strong>
        </span>
        <div class="defaul-text foc fs-16">
            {{item.text}}
        </div>
    </div>
</div>